html, body {
  height: 100%;
  width: 98%;
  margin: 0;
  padding: 0;
  background-color: #ff3333;
}

.selectedCar, #top {
  text-align: center;
  margin: 0;
}

#top h1 {
  font-size: 2em;
}
#content {
  font-size: 2em;
  text-align: center;
}

canvas{
  background-color: black;
  margin-left: 100px;
}