<!DOCTYPE html>
<html lang="en">
<head>
  <title>Our simple HTTP server</title>  
  <!--import babel-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>

  <!--import vueJS and bootstrap-->
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
  
  <!--import client side CSS and JS-->
  <link rel="stylesheet" type="text/css" href="../client/style.css">
  <script src="/bundle.js" ></script>
</head>
<body>
  <div id="app">
  <section id="top">
    <h3>Race Some Cars</h3>
    <form id="nameForm" action="/addCar" method="post">
      <label for="name">Name: </label>
      <input id="nameField" type="text" name="name" />
      <label for="color">Color: </label>
      <input id="colorField" type="text" name="color" />
      <label for="speed">speed: </label>
      <input id="speedField" type="number" name="speed" min="0" max="10" step="1"/>
      <label for="special">special: </label>
      <input id="specialField" type="number" name="special" min="0" max="10" step="1"/>
      <label for="power">power: </label>
      <input id="powerField" type="number" name="power" min="0" max="10" step="1"/>
      <input type="submit" value="Add Car" @click='addCar'/>
    </form>
    <button id="getCars" @click=interemGetCar> {{carText}}</button>
  </section>
  <select id="carSelection">
    <option class="selectedCar" v-for="option in options">
      {{option.text}}
    </option>
  </select>

  <section id="content"></section>
  <ol class="row"><li class="col-sm-2" id="myList" v-for="car in carsInRace">{{car}}</li></ol>
  <button id="addToRace" @click='addMyCar'>Add Car To Race</button>
  <button id="race" :disabled="isDisabled" @click='race'>Race!</button>
</div>
  <canvas width='600' height='400'></canvas>
</body>
</html>